{% extends 'base.html' %}

{% block content %}
{%load convert_utc_to_local%}
{% load markup_tags %}
        <!-- Page Header-->
        {%if singleBlog.banner%}
        <header class="masthead" style="background-image: url('{{singleBlog.banner.url}}')">
        {%else%}
        <header class="masthead" style="background-image: url('{{s}}img/post-bg.jpg')">
        {%endif%}
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>
                            <script>
							document.write("{{singleBlog.title|escapejs}}");
						    </script>
                            </h1>
                            <h2 class="subheading">
                             <script>
							document.write("{{singleBlog.sub_title|escapejs|truncatechars:100}}");
						    </script>
                            </h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{singleBlog.author}}</a>
                                on {{singleBlog.posted_at|convert_to_localtime}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <script>
							document.write(`{{singleBlog.blog|apply_markup:"markdown"}}`);
						</script>
                    </div>
                </div>
            </div>
        </article>

{% endblock content %}